article
  header
    .event
      margin-top: 1rem
      margin-bottom: 1rem
      .label
        text-transform: uppercase
        letter-spacing: 0.01em
        font-weight: 700
        color: $color-accent
        text-align: right
        display: inline-block
        min-width: 4.5rem
      .label:after
        content: ":"
        font-weight: 700